@import "tailwindcss";
@plugin "daisyui";

body{
  background: url('./public/background.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
}
